textarea:focus, input:focus{
    outline: none;
}

.text_brand {
    color: #E85A81 !important;
}

.border_brand {
    border-color: #E85A81 !important;
}

.background_brand {
    background: #E85A81 !important;
}

a {
    text-decoration: none !important;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

body {
    font-family: 'Be Vietnam', sans-serif;
}