<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526553449350-91u1j0e2qiebrd2tlkchod6ir1upn4qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526553449350-91u1j0e2qiebrd2tlkchod6ir1upn4qp</string>
	<key>API_KEY</key>
	<string>AIzaSyAUm2s_k3FZbQqxe8JxHjdI-jkofVPJna4</string>
	<key>GCM_SENDER_ID</key>
	<string>526553449350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.dimodo.ios</string>
	<key>PROJECT_ID</key>
	<string>glowvy-b6cf4</string>
	<key>STORAGE_BUCKET</key>
	<string>glowvy-b6cf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526553449350:ios:2c6f49de507324bef02207</string>
	<key>DATABASE_URL</key>
	<string>https://glowvy-b6cf4.firebaseio.com</string>
</dict>
</plist>